# Datto RMM API Configuration
DATTO_API_URL=https://vidal-api.centrastage.net
DATTO_API_KEY=OL5AM1TI795BDJMSU6SVR1LV0LIRMN97
DATTO_API_SECRET=KHVL3GJ6DVBF3JF8NDI1140S7BI6B5UR

# Optional: Logging level
LOG_LEVEL=info